<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-hasheader">
	<div class="palm-header">
		Tools
	</div>
</div>
<div class="palm-header-spacer"></div>
<div class="palm-group">
	<div class="palm-group-title">
		<span x-mojo-loc="">Download</span>
	</div>
	<div class="palm-list">
    <div class="palm-row-wrapper">
      <div x-mojo-element="IntegerPicker" id="radiusPicker" style='margin-right:20px'></div>
    </div>
    <div class="palm-row-wrapper">
      <div x-mojo-element="Button" class="Button" id='downloadButton'>Button</div>
    </div>
  </div>
</div>
<div x-mojo-element="Button" class="Button" id='oldButton'>Button</div>
<div id='text' class="palm-body-text">
</div>
