<div class="palm-row" x-mojo-tap-highlight='momentary' style="margin:6px">
	<div class="palm-row-wrapper" style="border:none">
    <!--<div style="float:left;width:100%;display:block;" class="myself">-->
      <!--<div style="position:relative;float:left;width:45%;vertical-align:middle;height:100%;top:12px;color:gray;font-size:small;">#{id}</div>
      <div style="position:relative;top:0px;left:0px;width:40px;overflow:hidden;background-color:yellow;float:left">#{id}</div>
      <div style="position:relative;left:45px;width:50px;background-color:blue;float:left">[dist:]</div>
      <div style="position:relative;left:100px;width:50px;background-color:green;float:right">[DIR]</div>
      <div style="position:relative;top:56px;float:left;color:blue;">@#{name}</div>
      <div style="position:relative;left:10px;top:0;background-color:gray;height:40px;overflow:hidden">#{text}</div>
-->
<table width=100% style="height:56px" border=0px class="#{styleclass}">
<tr>
<td width=45px>#{id}</td><td style='text-align:right'><img src="#{image}" width=32 height=32></td><td style="text-align:right;width:128px">[#{distance} m]</td>
</tr>
<tr height=20px>
<td colspan=3 style="overflow:hidden"><b style='color:blue'>@#{name}:</b> #{text}</td>
</tr>
</table>
    <!--</div>-->
  </div>
</div>
