<div style="height: 32px; font-size: 115%;"><b>Note</b></div>
<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
  <div id="note" x-mojo-element="TextField"></div>
</div>
<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true" style='height:128px'>
  <div x-mojo-element="Button" id="ok" class="buttonClass"></div>
  <div x-mojo-element="Button" id="cancel" class="buttonClass"></div>
</div>
