<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-hasheader">
	<div class="palm-header">
		Hello, World!
	</div>
</div>
<div class="palm-header-spacer"></div>
<div class="palm-body-text">
	Your application is running!
</div>
<div class="palm-group">
	<div class="palm-group-title">
		<span x-mojo-loc="">APP INFO</span>
	</div>
	<div class="palm-list">
		<div class='palm-row single'>
			<div class="palm-row-wrapper">
				<div class="label left">title</div>
				<div id="app-title" class="title right">????</div>
			</div>
			<div class="palm-row-wrapper">
				<div class="label left">id</div>
				<div id="app-id" class="title right">????</div>
			</div>
			<div class="palm-row-wrapper">
				<div class="label left">version</div>
				<div id="app-version" class="title right">????</div>
			</div>
		</div>
	</div>
</div>
<div class="palm-body-text">
	This scene "first" was generated on 2013-06-11 at 23:38:13.
</div>
