<!-- TODO: replace the contents of this file with your own html -->

<!--<canvas id='compass' width=256 height=256 style='position:absolute;left:10px;height:256px;width:256px;display:block;border:solid 1px;border-radius:256px'></canvas>-->
<!--<div id="main" class="palm-hasheader">-->
  <div style='text-align:left;position:relative;top:32px;color:gray;' id='id'></div>
  <div style='text-align:center'><img id='compass' src="" width=64 height=64></div>
  <div id='counter' style='text-align:right;width:90%;top:32px;font-size:16pt'></div>
  <div id='distance' style='position:relative;width:320px;font-size:24pt;text-align:center'></div>
  <div class="palm-group">
    <div class="palm-group-title">
      <span x-mojo-loc="" id='header'>Note</span>
    </div>
    <div class="palm-list">
      <div class="palm-row-wrapper">
        <div id='text' style='margin:10px'></div>
      </div>
    </div>
  </div>
  <div x-mojo-element="Button" class="Button" id='noteButton'></div>
<!--</div>-->


